body{
    margin:0;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New',monospace;
}

.clock-container{
    text-align: center;
}

#clock{
    font-size: 5rem;
    margin-top: 20px;
    background-color: #333;
    padding: 20px 40px;
    box-shadow: 0 0 15px #00f0ff;
}

.clock-image {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }